/Jan_8_Update
/Jan_18_Update
/Proposal
/Researh Materials
Jan_8_Update.zip
Jan_18_Update.zip
List of Supervisors.pdf
Lit Review Draft 2.docx
Manuscript Lit Review Highlights.docx
Master's Thesis Writing Schedule.doc
New Composite Index without Supply Chain Lens.xlsx
Nov 22 Update.docx
Proposed Index and SubIndex.xlsx
Ranking System Proposal.docx
Second Idea Summary.docx
Seminar Records.pdf
Statistical Test Selection Procedure.png
Student Background.docx
Supervisor Agreement.doc
Tsinghua_Master_s_Thesis_Manuscript_First Draft.pdf
Advisor Change Request Form.pdf
check.png
data_Graphs.pdf
Denotation List.xlsx
Feb 4 Update.docx
First Idea Summary.docx
Inital Research Proposal Presentation.pdf
Inital Research Proposal Presentation.pptx
/Backup Files (mostly for ISO Codes)
Pandemic_Prepardness_Correlation_Graphs.pdf
Confounding_Variable_Correlation_Graphs.pdf
cases_first_derv.xlsx
smoothing_Testing.pdf
Cases_interpolation_Graphs.pdf
Deaths_interpolation_Graphs.pdf
debug.log
/Archived Results (3_22) Before New Oxford Index Addition
Confounding_Variable_Graphs.pdf
Confounding_Variable_Results.xlsx
Peak_Pairing_Testing.pdf
PChip_interpolation_Graphs.pdf
data_Graphs.pdf
Spline_Smoothing_Testing.pdf
Extrema_Testing_2.pdf
Extrema_Testing_2.xlsx
Extrema_Testing_Final.pdf
Extrema_Testing vs Extrema_Selection Tracker.xlsx
Extrema_Testing.pdf
Small_Peak_Removal.xls
Small_Peak_Removal.xlsx
Extrema_Testing_Cases_Smoothed.xlsx
fitting_Testing.pdf
peak_valleys_Testing.xlsx
death_first_derv.xlsx
Extrema_Testing.py
Extrema_Selection.py
keypoint_Testing.py
Fitting_Testing.py
Metric_Testing.py
USA Peak Pairing.jpg
AFG Interpolation.png
CMR Final Pruning.png
CMR First Pruning.png
CMR Vallys.png
CMR Initial Peaks.png
BEN Smoothed COVID-19 Data.png
France Outliers.png
BEN Outliers.png
Plot_Generation.py
Spline_Smoothing_Testing.py
smoothing_testing.py
spline_Test.py
Interpolation Methods.png
single_Plot.py
spline_Test.png
data_Graphs.pdf
debug.log
Data Equity.png
/.ipynb_checkpoints
/__pycache__
/.spyproject
/.ipynb_checkpoints
/Research Materials
/Final Thesis Pages
Sources.txt
Sources.xml
Sources.bib
Citations.xml